/* Definizione dei font personalizzati */
@font-face {
    font-family: 'Trends';
    src: url('../Risorse/Font/trends/Trends.ttf') format('truetype'); /* Font per browser moderni */
    font-weight: normal; /* Peso normale del font */
    font-style: normal; /* Stile normale del font */
}

@font-face {
    font-family: 'Heavitas';
    src: url('../Risorse/Font/heavitas/Heavitas.ttf') format('truetype'); /* Font per browser moderni */
    font-weight: normal; /* Peso normale del font */
    font-style: normal; /* Stile normale del font */
}

/* Stili generali */
body {
    font-family: 'Arial', sans-serif; /* Font generale */
    margin: 0; /* Rimuove margini predefiniti */
    padding: 0; /* Rimuove padding predefiniti */
    background-color: #f4f4f4; /* Colore di sfondo della pagina */
    color: #333; /* Colore del testo */
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h4 {
    text-align: center; /* Allinea i titoli al centro */
    color: #2c3e50; /* Colore dei titoli */
}

/* Stile per il contenitore delle notizie */
.news-container {
    display: flex; /* Usa flexbox per la disposizione */
    justify-content: space-between; /* Spazia gli elementi tra di loro */
    margin: 20px; /* Margine attorno al contenitore */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Ombra dietro il contenitore */
    border-radius: 10px; /* Angoli arrotondati */
}

.daily-news {
    flex: 5; /* Occupa 2/3 dello spazio */
    margin-right: 20px; /* Margine a destra */
}

.latest-news {
    flex: 1; /* Occupa 1/3 dello spazio */
    background-color: #ffffff; /* Colore di sfondo per il riquadro delle ultime notizie */
    padding: 10px; /* Padding per il contenitore */
    border-radius: 10px; /* Angoli arrotondati */
}

/* Stile per ogni voce di notizia */
.news-item {
    background-color: #f9f9f9; /* Colore di sfondo per ogni notizia */
    border: 1px solid #ddd; /* Bordo per delineare le notizie */
    border-radius: 5px; /* Angoli arrotondati per i quadrati */
    padding: 10px; /* Padding interno */
    margin-bottom: 10px; /* Spazio tra le notizie */
}

.news-item h2 {
    margin: 0 0 5px; /* Margine per il titolo */
}

.news-item p {
    margin: 0; /* Rimuovere margine per il paragrafo */
}

/* Tabelle */
table {
    border-collapse: collapse; /* Unisce i bordi delle celle */
    width: 100%; /* Larghezza della tabella */
    margin: 25px 10px; /* Margine attorno alla tabella */
}

th, td {
    padding: 5px; /* Ridotto padding per rendere la tabella più secca */
    text-align: center; /* Allinea il testo al centro */
    border: none; /* Rimuovere i bordi */
}

/* Stile per le immagini */
img {
    max-width: 100%; /* Limita la larghezza delle immagini */
    height: auto; /* Mantiene le proporzioni delle immagini */
}

* {
    box-sizing: border-box;
}

/* Media Queries per dispositivi mobili */
@media (max-width: 768px) {
    .news-container {
        flex-direction: column; /* Modifica la disposizione in colonna su schermi piccoli */
    }

    .daily-news {
        margin-right: 0; /* Rimuovi il margine a destra */
    }
}

/* Media Queries per dispositivi 2K e superiori */
@media (min-width: 1920px) {
    .news-container {
        flex-direction: row; /* Modifica la disposizione in riga su schermi grandi */
        gap: 20px; /* Spazio tra le notizie */
    }

    .daily-news {
        margin-left: 20px;
        margin-right: 20px; /* Aggiungi margine a destra */
        font-size: 1rem; /* Aumenta leggermente la dimensione del testo */
    }

    .content-wrapper {
        max-width: 1600px; /* Limita la larghezza massima della pagina */
        margin: 0 auto; /* Centra la pagina su schermi larghi */
        flex-grow: 1;
    }
}