/* Definizione dei font personalizzati */
@font-face {
    font-family: 'Trends';
    src: url('../../Font/trends/Trends.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavitas';
    src: url('../../Font/heavitas/Heavitas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Stile per la barra superiore */
.top-bar {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); /* Gradiente di sfondo */
    color: rgb(0, 0, 0); /* Colore del testo */
    display: flex; /* Usa flexbox per la disposizione */
    justify-content: space-between; /* Spazia gli elementi tra di loro */
    padding: 10px 20px; /* Padding interno */
    font-size: 0.9em; /* Dimensione del font */
    align-items: center; /* Allinea verticalmente gli elementi */
    border-bottom: 1px solid #ccc; /* Linea di separazione */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra sotto la linea */
    font-weight: bold; /* Testo in grassetto */
}

/* Stile per i link e le immagini nella barra superiore */
.top-bar .contacts a,
.top-bar .socials a,
.top-bar .modes a {
    margin: 0 10px; /* Margine laterale */
}

.top-bar .contacts img,
.top-bar .socials img,
.top-bar .modes img {
    vertical-align: middle; /* Allineamento verticale delle immagini */
    width: 20px; /* Larghezza delle immagini */
    height: 20px; /* Altezza delle immagini */
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column; /* Disposizione verticale per schermi piccoli */
        text-align: center; /* Allinea il testo al centro */
    }
}

/* Stile per l'intestazione */
.header {
    display: flex; /* Usa flexbox per la disposizione */
    justify-content: space-between; /* Spazia gli elementi tra di loro */
    align-items: center; /* Allinea verticalmente gli elementi */
    padding: 20px; /* Padding interno */
    background-color: #ffffff; /* Colore di sfondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra dietro l'header */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); /* Gradiente di sfondo */
}

.header h1 {
    margin: 0; /* Rimuove margine per il titolo */
    font-family: 'Heavitas'; /* Font personalizzato per il titolo */
    height: 25px;
}

.header a {
    text-decoration: none; /* Rimuove la sottolineatura dai link */
    color: #000000; /* Colore del testo in nero */
    font-weight: bold; /* Testo in grassetto */
}

/* Stile per il menu di navigazione */
.nav {
    list-style-type: none; /* Rimuove i pallini della lista */
    padding: 0; /* Rimuove padding */
    margin: 0; /* Rimuove margini */
    display: flex; /* Usa flexbox per la disposizione */
    margin-left: auto; /* Spinge il menu a destra */
    font-weight: bold; /* Testo in grassetto */
    color: #000; /* Colore del testo in nero */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font del menu */
    align-items: center; /* Allinea verticalmente gli elementi */
}

.nav li {
    position: relative; /* Necessario per il dropdown */
    margin-left: 20px; /* Margine tra le voci del menu */
    text-align: center; /* Allinea il testo al centro */
    padding: 0; /* Assicurati che non ci sia padding */
}

/* Stile per i link del menu */
.nav a {
    text-decoration: none; /* Rimuove la sottolineatura dai link */
    color: #000000; /* Colore del testo in nero */
    font-weight: bold; /* Testo in grassetto */
    position: relative; /* Necessario per il posizionamento del pseudo-elemento */
    display: flex; /* Usa flexbox per centrare il contenuto */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Occupa l'altezza del contenitore */
}

/* Pseudo-elemento per l'animazione della sottolineatura dei titoli */
.nav a::after { 
    content: ""; /* Pseudo-elemento vuoto */
    position: absolute; /* Posizionamento assoluto rispetto al padre */
    left: 50%; /* Inizia dal centro */
    bottom: 0; /* Posizionamento alla base del testo */
    width: 100%; /* Larghezza uguale a quella del link */
    height: 2px; /* Spessore della sottolineatura */
    background: #000; /* Colore della sottolineatura */
    transform: translateX(-50%) scaleX(0); /* Inizia nascosto (scala zero) e centrato */
    transform-origin: center; /* Origine della trasformazione al centro */
    transition: transform 0.3s ease; /* Transizione per l'animazione */
}

/* Animazione della sottolineatura al passaggio del mouse nei crediti finali */
.nav a:hover::after {
    transform: translateX(-50%) scaleX(1); /* Espandi la sottolineatura a piena larghezza */
}

/* Dropdown menu */
.dropdown {
    display: none; /* Nasconde il menu a discesa */
    position: absolute; /* Posizionamento assoluto */
    left: 50%; /* Posizionamento al centro rispetto al padre */
    transform: translateX(-50%); /* Centra orizzontalmente il dropdown */
    background-color: #fff; /* Colore di sfondo del dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra del dropdown */
    z-index: 1; /* Assicura che il dropdown sia sopra gli altri elementi */
    border-radius: 10px; /* Angoli arrotondati del dropdown */
    min-width: 200px; /* Larghezza minima del dropdown */
}

/* Mostra il dropdown al passaggio del mouse sulla voce di menu */
.nav li:hover .dropdown {
    display: block; /* Mostra il dropdown */
}

.dropdown li {
    display: block; /* Ogni voce del dropdown occupa una nuova riga */
    margin: 0; /* Rimuove margine per le voci del dropdown */
}

.dropdown li a {
    padding: 10px 0; /* Aumenta il padding verticale per dare più spazio */
    display: flex; /* Usa flexbox per centrare il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center; /* Centra verticalmente il contenuto */
    width: 100%; /* Assicura che il link occupi tutta la larghezza */
    text-align: center; /* Allinea il testo al centro */
}

.dropdown a:hover::after {
    transform: translateX(-65%) scaleX(1); /* Espandi la sottolineatura a piena larghezza */
}



/* Media Queries per dispositivi mobili */
@media (max-width: 768px) {
    .top-bar .socials img {
        vertical-align: middle; /* Allineamento verticale delle immagini */
        width: 20px; /* Larghezza delle immagini */
        height: 20px; /* Altezza delle immagini */
    }
    
    .nav {
        flex-direction: column; /* Disposizione verticale per schermi piccoli */
        align-items: flex-start; /* Allinea a sinistra */
    }

    .nav li {
        margin: 5px 0; /* Margine tra le voci del menu */
    }
}

/* Media Queries per dispositivi 2K e superiori */
@media (min-width: 1920px) {
    .top-bar .socials img {
        vertical-align: middle; /* Allineamento verticale delle immagini */
        width: 20px; /* Aumenta la larghezza delle immagini */
        height: 20px; /* Aumenta l'altezza delle immagini */
    }
    
    .nav {
        flex-direction: row; /* Disposizione orizzontale per schermi ampi */
        align-items: center; /* Allinea al centro */
    }

    .nav li {
        margin: 0 15px; /* Maggiore margine laterale tra le voci del menu */
    }
}